<div class="error-card mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Errore</h2>
  </div>

  <div class="mdl-card__supporting-text">
    <p>
      Tu non puoi passare!
    </p>
  </div>
  <div>
    <img src="http://4.bp.blogspot.com/_LsxH7D5XrqA/TK3SSEfN14I/AAAAAAAAALw/lyzS9gWkVxI/s1600/P1100145.JPG" width="350" height="500"/>
  </div>
</div>
