<div class="home-main-card mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text">Nome Progetto</h1>
  </div>
  <div class="mdl-card__supporting-text">
    <p class="big">
      Cosa posso fare?
    </p>
    <p class="small">
      Prova i suggerimenti intelligenti di Nome Progetto!
    </p>
  </div>
  <div class="mdl-card__actions">
    <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Suggeriscimi! &nbsp;
      <i class="material-icons">forward</i>
    </button>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">info</i>
    </button>
  </div>
</div>
