<div class="home-main-card mdl-card mdl-shadow--4dp">

  <div class="mdl-card__title">
    <!-- <h1 class="mdl-card__title-text">Nome Progetto</h1> -->
  </div>
  <div class="mdl-card__supporting-text">
    <h1>Nome Progetto</h1>
  </div>
  <div class="mdl-card__actions">
    <p>
      Prova i suggerimenti intelligenti di Nome Progetto!
    </p>
    <br>
    <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Cosa posso fare?
    </button>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">info</i>
    </button>
  </div>
</div>
