<div class="question-card mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Domanda</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="row">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--orange mdl-color-text--white"
        href="/search?text=ciao">
        Option 1
      </a>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--green mdl-color-text--white">
        Option 2
      </a>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--cyan mdl-color-text--white">
        Option 3
      </a>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red mdl-color-text--white"
        href="/search?clear=true">
        Option 4
      </a>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Indietro
    </a>
  </div>
</div>

<% if Rails.env.development? %>
  <%= debug params %>
  <% if !@search.nil? %>
    <%= debug @search.place_types_by_number %>
    <%= debug @search.places_by_type %>
  <% end %>
<% end %>
