@import "material";

/* Home page main card */
.home-main-card {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;

  .mdl-card__title {
    height: 200px;
  }

  h1.mdl-card__title-text {
    width: 100%;
    text-align: center;
  }

  .mdl-card__actions {
    text-align: center;

    .mdl-button {
      padding-left: 22px;
      padding-right: 22px;
      text-transform: none;
      font-size: 1.2em;
      font-weight: 400;
    }
  }
}
