<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">TIP</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Chi Siamo</a></li>
        <li><a href="#">Nascita del Progetto</a></li>
        <li><a href="#">Futuro del Progetto</a></li>
        <li><a href="#">La Sapienza</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Tecnologie</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Struttura di base</a></li>
        <li><a href="#">Tecnologie usate</a></li>
        <li><a href="#">Altro...</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">FAQ</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Domande comuni</a></li>
        <li><a href="#">Contattaci</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Nome Progetto</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">Aiuto</a></li>
      <li><a href="#">Termini e Condizioni</a></li>
    </ul>
  </div>

</footer>
